# Programming Bootcamp 2018
# Lesson 7 Exercises
---

** Earning points (optional) **

- Enter your name below.
- Post your notebook privately to instructors on piazza **before 9:00 pm on 9/4**.

**Name**:

---
## 1. Guess the output: DataFrame practice (1pt)

For the following blocks of code, first try to guess what the output will be, and then run the code yourself. Points will be given for filling in the guesses; guessing wrong won't be penalized.

In [47]:
# run this cell first!
import pandas as pd

peoples_df = pd.DataFrame({"gender":["F","F","M","F"],
                          "age":[26,26,26,25]},
                          index=["Sam","Raju","Scott","Apexa"])

peoples_df

       age gender
Sam     26      F
Raju    26      F
Scott   26      M
Apexa   25      F

In [38]:
print peoples_df.loc["Scott","gender"]

M

Your guess:

In [44]:
print peoples_df.iloc[2,1]

M

Your guess:

In [ ]:
print peoples_df.iloc["Sammy",0]

Your guess:

In [46]:
print peoples_df.columns

Index([u'age', u'gender'], dtype='object')

Your guess:

In [47]:
print peoples_df.index

Index([u'Sam', u'Raju', u'Scott', u'Apexa'], dtype='object')

Your guess:

In [48]:
print peoples_df.shape

(4, 2)

Your guess:

In [51]:
print peoples_df.loc[peoples_df.loc[:,"age"]<26,:]

       age gender
Apexa   25      F

Your guess:

---
## 2. Obtaining Information from a DataFrame (5 pts)

Using the info in the table below, write code to accomplish the following tasks.

In [3]:
import pandas as pd

favFood_df = pd.DataFrame({"Name":["Wilfred","Manfred","Wadsworth","Jeeves"],
                          "Favorite Food":["Steak","Pizza","Spaghetti", "Spaghetti"]})
favFood_df

  Favorite Food       Name
0         Steak    Wilfred
1         Pizza    Manfred
2     Spaghetti  Wadsworth
3     Spaghetti     Jeeves

**(A)** Using a `for` loop, go through the DataFrame you created above and print each name and food combination in the format:

    <NAME>'s favorite food is <FOOD>
    
Reminder that to get the height of the DataFrame you use the `len()` function

In [4]:
# ANSWER FOR 2A
for i in range(len(favFood_df)):
    name = favFood_df.loc[i,"Name"]
    food = favFood_df.loc[i,"Favorite Food"]
    print name + "'s favorite food is "+ food

Wilfred's favorite food is Steak
Manfred's favorite food is Pizza
Wadsworth's favorite food is Spaghetti
Jeeves's favorite food is Spaghetti

**(B)** Print the names of the people who like Spaghetti. (Please do not hard code your answer)

In [9]:
# Answer 2B
spaghetti_df = favFood_df.loc[favFood_df.loc[:,"Favorite Food"]=="Spaghetti","Name"]
for name in spaghetti_df.values:
    print name

Wadsworth
Jeeves

**(C)** TRUE or FALSE, does anyone in the DataFrame like Tuna? (Please do not hard code your answer)

In [13]:
# Answer 2C
food_series = favFood_df.loc[:,"Favorite Food"]
print "Tuna" in food_series.values

False

**(D)** TRUE or FALSE, Does anyone in the DataFrame like Pizza? (Please do not hard code your answer)

In [14]:
# Answer 2D
food_series = favFood_df.loc[:,"Favorite Food"]
print "Pizza" in food_series.values

True

**(E)** Prompt the user with the question "Whose favorite food do you want to know?" and if the name is in the dataFrame then report the person's favorite food. Otherwise print "That name is not in our database".

In [87]:
# Answer 2E
name_query = raw_input("Whose favorite food do you want to know? ")
if name_query in favFood_df.loc[:,"Name"].values:
    print str(favFood_df.loc[favFood_df.loc[:,"Name"] == name_query,
                        "Favorite Food"])
else:
    print "That name is not in our database"

Whose favorite food do you want to know? SAM
That name is not in our database

---
## 3. Creating and Writing DataFrames (6pts)


|        ""      | Treatment | CrazyProteinLevel | RichProteinLevel |
|:--------------:|:---------:|:-----------------:|:----------------:|
| Rachel Chu     | A         | 776,498           | 330,789          |
| Nicholas Young | B         | 890,345           | 999,999,999,999  |
| Goh Peik Lin   | A         | 98,764,678        | 78,656,877       |
| Astrid Teo     | B         | 867,888           | 809,999,780,999  |
| Alistair Cheng | B         | 120,444,558       | 859,919,120,799  |
| Colin Khoo     | B         | 10,867,888        | 759,119,130,799  |
| Araminta Lee   | B         | 109,347,111       | 129,239,132,199  |

**(A)** Create a pandas dataFrame using a dictionary based on the data above, where we have three columns ("Treatment", "CrazyProteinLevel", and "RichProteinLevel") and 7 row names.

In [61]:
import pandas as pd

crazyrich_df = pd.DataFrame({"Treatment":["A","B","A","B","B","B","B"],
                          "CrazyProteinLevel":[776498,890345,98764678,867888,120444558,10867888,109347111],
                          "RichProteinLevel":[330789,999999999999,78656877,809999780999,859919120799,759119130799,129239132199]},
                         index = ["Rachel Chu","Nicholas Young","Goh Peik Lin","Astrid Teo","Alistair Cheng","Colin Khoo","Araminta Lee"])
crazyrich_df

                CrazyProteinLevel  RichProteinLevel Treatment
Rachel Chu                 776498            330789         A
Nicholas Young             890345      999999999999         B
Goh Peik Lin             98764678          78656877         A
Astrid Teo                 867888      809999780999         B
Alistair Cheng          120444558      859919120799         B
Colin Khoo               10867888      759119130799         B
Araminta Lee            109347111      129239132199         B

**(B)** Putting these long numbers into a dataframe was a headache its unnecessary for the data to be this exact. 
1. First, convert the protein levels into units of a million. For example, "776,498" would become ".776498". "120,444,558" would become "120.444558". (Hint: You may have to convert these column into float datatypes using the `Series.astype()` function.)

In [62]:
crazyrich_df.loc[:,"CrazyProteinLevel"] = crazyrich_df.loc[:,"CrazyProteinLevel"].astype(float)
crazyrich_df.loc[:,"CrazyProteinLevel"] = crazyrich_df.loc[:,"CrazyProteinLevel"]/1000000

crazyrich_df.loc[:,"RichProteinLevel"] = crazyrich_df.loc[:,"RichProteinLevel"].astype(float)
crazyrich_df.loc[:,"RichProteinLevel"] = crazyrich_df.loc[:,"RichProteinLevel"]/1000000

crazyrich_df

                CrazyProteinLevel  RichProteinLevel Treatment
Rachel Chu               0.776498          0.330789         A
Nicholas Young           0.890345     999999.999999         B
Goh Peik Lin            98.764678         78.656877         A
Astrid Teo               0.867888     809999.780999         B
Alistair Cheng         120.444558     859919.120799         B
Colin Khoo              10.867888     759119.130799         B
Araminta Lee           109.347111     129239.132199         B

2. Next, we use the pandas dataFrame `round` function to round these columns to the first decimal place. Here is an example of how to use the round function:

In [55]:
import numpy as np
df = pd.DataFrame(np.random.random([3, 3]),
                  columns=['A', 'B', 'C'], index=['first', 'second', 'third'])
print(df)

               A         B         C
first   0.830801  0.001926  0.940413
second  0.880234  0.716162  0.689289
third   0.401798  0.545720  0.781179

In [58]:
# rounds column 'A' to the first decimal place 
# and column `B` to the second decimal place
rounded_df = df.round({'A': 1, 'C': 2})
print(rounded_df)

               A         B         C
first   0.830801  0.001926  0.940413
second  0.880234  0.716162  0.689289
third   0.401798  0.545720  0.781179

In [64]:
crazyrich_df = crazyrich_df.round({'CrazyProteinLevel': 1, 'RichProteinLevel': 1})
crazyrich_df

                CrazyProteinLevel  RichProteinLevel Treatment
Rachel Chu                    0.8               0.3         A
Nicholas Young                0.9         1000000.0         B
Goh Peik Lin                 98.8              78.7         A
Astrid Teo                    0.9          809999.8         B
Alistair Cheng              120.4          859919.1         B
Colin Khoo                   10.9          759119.1         B
Araminta Lee                109.3          129239.1         B

**(D)** Add another row with the average protein level (in millions) called "avgProtein".

In [65]:
crazyrich_df.loc[:,"avgProtein"]=(crazyrich_df.loc[:,"CrazyProteinLevel"]+crazyrich_df.loc[:,"RichProteinLevel"])/2
crazyrich_df

                CrazyProteinLevel  RichProteinLevel Treatment  avgProtein
Rachel Chu                    0.8               0.3         A        0.55
Nicholas Young                0.9         1000000.0         B   500000.45
Goh Peik Lin                 98.8              78.7         A       88.75
Astrid Teo                    0.9          809999.8         B   405000.35
Alistair Cheng              120.4          859919.1         B   430019.75
Colin Khoo                   10.9          759119.1         B   379565.00
Araminta Lee                109.3          129239.1         B    64674.20

**(E)** Export rows with "avgProtein" > 1 (million) to "CrazyRich.txt" using tabs-delimiting marks.

In [68]:
crazyrich_df.to_csv("CrazyRich.txt",sep="\t")

---
## 3. The "Many Counters" Problem with dataFrames (4pts)
**(A)** Write code that reads a file of sequences and tallies how many sequences there are of each length. Use `sequences3.txt` as input. 

*Hint: you can use a dataFrames to keep track of all the tallies. For example:*

In [73]:
# hint code:
import pandas as pd

tally_df = pd.DataFrame(columns=["count"])
seq = "ATGCTGATCGATATA"
length = len(seq)

if length not in list(tally_df.index):
    tally_df.loc[length,"count"] = 1  #initialize to 1 if this is the first occurrence of the length...
else:
    tally_df.loc[length,"count"] = tally_df.loc[length,"count"] + 1   #...otherwise just increment the count.
    
tally_df

    count
15      1

In [74]:
seqFile = open("sequences3.txt", 'r')
tally_df = pd.DataFrame(columns=["count"])
for seq in seqFile:
    seq = seq.rstrip('\n')
    length = len(seq)
    if length not in list(tally_df.index):
        tally_df.loc[length,"count"] = 1  #initialize to 1 if this is the first occurrence of the length...
    else:
        tally_df.loc[length,"count"] = tally_df.loc[length,"count"] + 1   #...otherwise just increment the count.

tally_df

     count
39     4.0
57     3.0
51     7.0
60     4.0
27     4.0
90     6.0
81     5.0
45     5.0
36     4.0
84     3.0
42     6.0
93     3.0
75     2.0
78     3.0
102    3.0
66     3.0
30     2.0
54     5.0
96     3.0
72     2.0
63     3.0
99     3.0
33     3.0
69     3.0
48     3.0
105    5.0
87     3.0

**(B)** Using the tally dataFrame you created above, figure out which sequence length was the most common, and print it to the screen.

In [80]:
max_row = tally_df.loc[tally_df.loc[:,"count"]==max(tally_df.loc[:,"count"]),:]
print (max_row.index[0])

51

---
## 4. Codon table (6pts)

For this question, use `codon_table.txt`, which contains a list of all possible codons and their corresponding amino acids. We will be using this info to create a dictionary, which will allow us to translate a nucleotide sequence into amino acids. Each part of this question builds off the previous parts.

**(A)** Read in `codon_table.txt` (note that it has a header line) and use it to create a codon dataFrame. Then use `input()` to prompt the user to enter a single codon (e.g. ATG) and print the amino acid corresponding to that codon to the screen.

Hint: In a pandas Series use the `.values` function to get the values of the Series.

In [113]:
# one correct answer
inFile = "codon_table.txt"
codon_t = open(inFile, 'r')
codon_df1 = pd.read_table(inFile,sep="\t",index_col=0)

user_codon = raw_input("enter a single codon: ").upper()
if user_codon in codon_df1.index:
    print(codon_df1.loc[user_codon,"AA"])
else:
    print("Error: that is not a codon")

enter a single codon: AAA
K

In [114]:
# another correct answer
inFile = "codon_table.txt"
codon_t = open(inFile, 'r')
codon_df2 = pd.read_table(inFile,sep="\t")

user_codon = raw_input("enter a single codon: ").upper()
if user_codon in codon_df2.loc[:,"Codon"].values:
    user_aa = codon_df2.loc[codon_df2.loc[:,"Codon"]==user_codon,"AA"].values
    print (user_aa[0])
else:
    print("Error: that is not a codon")

enter a single codon: AAA
K

**(C)** Now we will adapt the code in (B) to translate a longer sequence. Instead of prompting the user for a single codon, allow them to enter a longer sequence. First, check that the sequence they entered has a length that is a multiple of 3 (Hint: use the mod operator, %), and print an error message if it is not. If it is valid, then go on to translate every three nucleotides to an amino acid. Print the final amino acid sequence to the screen.

In [116]:
# if B was formatted like codon_df1
seq = raw_input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
    print amino_seq
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): AAATAT
KY

In [117]:
# if B was formatted like codon_df2
seq = raw_input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
        amino_seq = amino_seq + aa_list[0]
    print amino_seq
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): AAATTT
KF

**(D)** Now, instead of taking user input, you will apply your translator to a set of sequences stored in a file. Read in the sequences from `sequences3.txt` (assume each line is a separate sequence), translate it to amino acids, and print it to a new file called `proteins.txt`.

In [119]:
# if B was formatted like codon_df1
seqFile = open("sequences3.txt", 'r')
protFile = open("proteins.txt", 'w')
for seq in seqFile:
    seq = seq.rstrip('\n')
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
        protFile.write(amino_seq+"\n")
seqFile.close() 
protFile.close()

In [120]:
# if B was formatted like codon_df2
seqFile = open("sequences3.txt", 'r')
protFile = open("proteins.txt", 'w')
for seq in seqFile:
    seq = seq.rstrip('\n')
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
            amino_seq = amino_seq + aa_list[0]
        protFile.write(amino_seq+"\n")
seqFile.close() 
protFile.close()