# Programming Bootcamp 2019
# Lesson 7 Exercises
---
Files needed for this activity:
* codon_table.txt
* sequences3.txt
* cufflinks_results.zip
* gene_annotations.tsv
* horrible.fasta
* auto_mpg.txt
* snp_exp.tsv

Total points: 42

Possible points: 44

---
## 1. Guess the output: DataFrame practice (1pt)

For the following blocks of code, first try to guess what the output will be, and then run the code yourself. Points will be given for filling in the guesses; guessing wrong won't be penalized. **If you expect an error, please state why you expect this error**.

In [2]:
# run this cell first!
import pandas as pd

expression_df = pd.DataFrame({"gene_name":["NAC001","AT1G03987","MIR838A","PPa1"],
                          "gene_exp":[6,0,260,845]},
                          index=["AT1G01010","AT1G03987","AT1G01046","AT1G01050"])

expression_df

           gene_name  gene_exp
AT1G01010     NAC001         6
AT1G03987  AT1G03987         0
AT1G01046    MIR838A       260
AT1G01050       PPa1       845

In [22]:
print (expression_df.loc["AT1G01050","gene_name"])

PPa1

In [23]:
print (expression_df.iloc[2,1])

260

In [ ]:
print (expression_df.iloc["AT1G01010",0])

> The .iloc function gets values based on row and column locations. Since "AT1G01010" is not an integer it cannot be located in the data frame.

In [26]:
print (list(expression_df.columns))

['gene_name', 'gene_exp']

In [27]:
print (list(expression_df.index))

['AT1G01010', 'AT1G03987', 'AT1G01046', 'AT1G01050']

> Note that when you run the `columns` and `index` function on a pandas dataframe it returns an object that is of type Index. Index objects are not the same as list objects. Therefore, if you want to use these strings as list, you must specify as such.

In [28]:
print (expression_df.shape)

(4, 2)

In [29]:
print (expression_df.loc[expression_df.loc[:,"gene_exp"]<10,:])

           gene_name  gene_exp
AT1G01010     NAC001         6
AT1G03987  AT1G03987         0

---
## 2. Codon table (7pts)

For this question, use `codon_table.txt`, which contains a list of all possible codons and their corresponding amino acids. 

This problem is almost exactly the same as question 5 in lab 5. However, instead of using dictionaries to match nucleotides to amino acids, here I want you to use pandas dataframes. 

Each part of this question builds off the previous parts.

**(A)** (2pt) Read in `codon_table.txt` (note that it has a header line) into a Pandas DataFrame. Then use `input()` to prompt the user to enter a single codon (e.g. ATG) and print the amino acid corresponding to that codon to the screen.

In [3]:
# one correct answer
inFile = "codon_table.txt"
codon_df1 = pd.read_csv(inFile,sep="\t",index_col=0)

user_codon = input("enter a single codon: ").upper()
if user_codon in codon_df1.index:
    print(codon_df1.loc[user_codon,"AA"])
else:
    print("Error: that is not a codon")

enter a single codon: ATC
I

In [5]:
# another correct answer
inFile = "codon_table.txt"
codon_df2 = pd.read_csv(inFile,sep="\t")

user_codon = input("enter a single codon: ").upper()
if user_codon in codon_df2.loc[:,"Codon"].values:
    user_aa = codon_df2.loc[codon_df2.loc[:,"Codon"]==user_codon,"AA"].values
    print (user_aa[0])
else:
    print("Error: that is not a codon")

enter a single codon: ATC
I

**(B)** (2pt) Now we will adapt the code in (A) to translate a longer sequence. Instead of prompting the user for a single codon, allow them to enter a longer sequence. First, check that the sequence they entered has a length that is a multiple of 3 (Hint: use the mod operator, %), and print an error message if it is not. If it is valid, then go on to translate every three nucleotides to an amino acid. Print the final amino acid sequence to the screen.

In [160]:
# if A was formatted like codon_df1
seq = input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
    print (amino_seq)
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): ATCGTGGGGCATTAT
IVGHY

In [161]:
# if A was formatted like codon_df2
seq = input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
        amino_seq = amino_seq + aa_list[0]
    print (amino_seq)
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): ATCGTGGGGCATTAT
IVGHY

**(C)** (3pt) Now, instead of taking user input, you will apply your translator to a set of sequences stored in a file. Read in the sequences from `sequences3.txt` (assume each line is a separate sequence) and translate it to amino acids. Create a new data frame with columns containing the nucleotide and protein sequences. Print the dataframe to a new file called `proteins.tsv`.

In [4]:
# create an empty list of pandas dataframes
# this list will eventually contain
# rows of the final data frame
proteins_df_list=[]

# if A was formatted like codon_df1
seqFile = open("sequences3.txt", 'r')
for seq in seqFile:
    seq = seq.rstrip('\n')
    # make sure the sequence is divisable by 3
    # and skip empty lines
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
    
        seq_df = pd.DataFrame({"nuc":[seq],"prot":[amino_seq]}, 
                              index=[0])
        proteins_df_list.append(seq_df)
    elif (len(seq) % 3 == 0):
        print(">>>ERROR:%s is not divisable by 3. Skipping.")
seqFile.close()
proteins_df = pd.concat(proteins_df_list, ignore_index=True) 
proteins_df.to_csv("proteins.tsv", sep="\t", index=False)

In [6]:
# create an empty list of pandas dataframes
# this list will eventually contain
# rows of the final data frame
proteins_df_list=[]

# if A was formatted like codon_df2
seqFile = open("sequences3.txt", 'r')
protFile = open("proteins.txt", 'w')
for seq in seqFile:
    seq = seq.rstrip('\n')
    # make sure the sequence is divisable by 3
    # and skip empty lines
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
            amino_seq = amino_seq + aa_list[0]
        seq_df = pd.DataFrame({"nuc":[seq],"prot":[amino_seq]}, 
                          index=[0])
        proteins_df_list.append(seq_df)
    elif (len(seq) % 3 == 0):
        print(">>>ERROR:%s is not divisable by 3. Skipping.")
seqFile.close()
proteins_df = pd.concat(proteins_df_list, ignore_index=True) 
proteins_df.to_csv("proteins.tsv", sep="\t", index=False)

---
## 3. Use Custom Fuctions to Build a Data Frame (8pts)
In the lab 5 you used custom functions to write a table with new information. Another way to output tables is by using pandas!

**Hint: For these questions, you may want to import the  module with our custom methods that we created in lab6.**

**(A)** (2pts) Now let's turn a fasta file into a pandas DataFrame. Read in "horrible.fasta" into a dictionary and then convert the dictionary into a Pandas Series.

In [8]:
import my_utils

seq_dict = my_utils.read_fasta("horrible.fasta")
seq_series = pd.Series(seq_dict)

**(B)** (2pts) Get the length and GC content of each of the sequences in the series and create a dataframe called `horrible_df`. Each index in `horrible_df` should be a sequence name and each row should contain a value for the sequence, the length of the sequence, and the GC content.

In [32]:
# create length and gc series
length_series = seq_series.apply(len)
gc_series = seq_series.apply(my_utils.gc)
# create a dict of series
horrible_dict = {"sequence":seq_series,
                "length":length_series,
                "gc_content":gc_series}
# conver the dict to a dataframe
horrible_df = pd.DataFrame(horrible_dict)
horrible_df.head()

,sequence,length,gc_content
varlen2_uc007xie.1_4456,ACACCGGCTGAAACAGCTGGCAGCACCACAGGCCCAGCTGTAAGCA...,100,0.61
varlen2_uc010mlp.1_79,CCGCGCAGCGCCTACCCTTTCCTCGCTCCGGGCCGGCAGTGTGGGG...,208,0.57
varlen2_uc009div.2_242,CCAACGGTCATCAAGAGAAGTGCGCCTTCCTCCTCAAACCGACGCG...,65,0.58
varlen2_uc003its.2_2976,CGCCCACCTGGATGTCCCAAAGTGCTAGATTCCATGGAATTTTCCT...,179,0.50
varlen2_uc003nvg.4_2466,CTCGGGCTGGCAGCAGTGAAAGTATTGCT,29,0.55

**(C)** (1pt) Print the median length of the sequences.

In [33]:
# answer A
horrible_df["length"].median()

96.0

In [36]:
# answer B
np.median(horrible_df["length"])

96.0

**(D)** (1pt) Print the average length of the sequences with 40% GC content

In [69]:
# answer A: using .groupby()
grouped_horrible = horrible_df.groupby('gc_content')
gc_40_df = grouped_horrible.get_group(.40)
print(gc_40_df["length"].mean())

401.0

In [70]:
# answer B: using .loc
gc_40_df = horrible_df.loc[horrible_df["gc_content"]==.4,:]
print(gc_40_df["length"].mean())

401.0

**(E)** (2pts) Update the DataFrame so that it only contains the length and GC content of each sequence. Then export as tab-delimited to a file called "horrible.tsv".

In [29]:
final_horrible_df = horrible_df.loc[:,["length","gc_content"]]
final_horrible_df.to_csv("horrible.tsv",sep="\t")

---
## 4.  Grouping (5pts)
**(A)**(1 pt) Create a pandas dataframe from `snp_exp.tsv`.

In [11]:
snp_exp_df = pd.read_csv("snp_exp.tsv", 
            sep="\t",header=0)
snp_exp_df

   sample_id  age gender snp1 snp2
0          1   19      M    A    T
1          2   20      M    A    T
2          3   42      F    C    A
3          4   35      F    C    T
4          5    4      F    G    T
5          6   45      M    A    A
6          7   60      F    C    T
7          8   26      M    C    A
8          9   10      F    C    T
9         10   35      F    A    A

**(B)** (1 pt) Group the dataframe by `snp2`. Using a grouped data frame.

In [12]:
snp2_grouped_df = snp_exp_df.groupby('snp2')

**(C)** (1 pt) Print a pandas series of the average age of each `snp2` group.

In [13]:
snp2_grouped_df["age"].mean()

snp2
A    37.000000
T    24.666667
Name: age, dtype: float64

**(D)** (2 pts) Print the most common `snp1` values for each `snp2` group.

In [18]:
for snp2_val, snp2_df in snp2_grouped_df:
    max_snp1 = list(snp2_df["snp1"].mode())
    print ("snp2 group:", snp2_val,"; max snp1:", max_snp1)

snp2 group: A ; max snp1: ['A', 'C']
snp2 group: T ; max snp1: ['C']

---
## 5. RNA-seq analysis (21 pts)
Background: You are given three replicates each of raw *Arabidopsis* RNA-sequencing reads files labeled "withTreatment" and "noTreatment".

**(A)** (1pts) Given these files, what are questions you should ask the person who created the data? There are almost no wrong answers here. I am both curious what you would ask and just want you to be aware that you MUST ASK questions when given data.

* What treatment was given?
* What tissue are the samples?
* What timepoint were the samples treated?
* How were the tissues collected?
* Was this single-end or paired-end sequencing?
* How was the sequencing prepared?

**(B)** (1pts) You map the raw reads to the *Arabidopsis* transcriptome. Then you can quantify how many reads were mapped using a tool called *Cufflinks*. Unzip `cufflinks_results.zip` and read each of the files into their own pandas data frame.

> **Hints**
* Check how the file is delimited
* Check if the file contains a header or not

In [26]:
df_noTreatment_r1 = pd.read_csv("cufflinks_results/noTreatment_R1_genes.fpkm_tracking", 
            sep="\t",header=0)
df_noTreatment_r2 = pd.read_csv("cufflinks_results/noTreatment_R2_genes.fpkm_tracking", 
            sep="\t",header=0)
df_noTreatment_r3 = pd.read_csv("cufflinks_results/noTreatment_R3_genes.fpkm_tracking", 
            sep="\t",header=0)
df_wiTreatment_r1 = pd.read_csv("cufflinks_results/withTreatment_R1_genes.fpkm_tracking", 
            sep="\t",header=0)
df_wiTreatment_r2 = pd.read_csv("cufflinks_results/withTreatment_R2_genes.fpkm_tracking", 
            sep="\t",header=0)
df_wiTreatment_r3 = pd.read_csv("cufflinks_results/withTreatment_R3_genes.fpkm_tracking", 
            sep="\t",header=0)

**(C)** (1pts) There is a column named "FPKM_status". For each table you created in Part B, remove the rows where the "FPKM_status" is "FAIL".

In [27]:
df_noTreatment_r1 = df_noTreatment_r1.loc[df_noTreatment_r1["FPKM_status"]!="FAIL",:]
df_noTreatment_r2 = df_noTreatment_r2.loc[df_noTreatment_r2["FPKM_status"]!="FAIL",:]
df_noTreatment_r3 = df_noTreatment_r3.loc[df_noTreatment_r3["FPKM_status"]!="FAIL",:]
df_wiTreatment_r1 = df_wiTreatment_r1.loc[df_wiTreatment_r1["FPKM_status"]!="FAIL",:]
df_wiTreatment_r2 = df_wiTreatment_r2.loc[df_wiTreatment_r2["FPKM_status"]!="FAIL",:]
df_wiTreatment_r3 = df_wiTreatment_r3.loc[df_wiTreatment_r3["FPKM_status"]!="FAIL",:]

**(D)** (1pts) These files also have a lot of extra unnecessary columns that do not provide any useful informaiton. For the rest of the questions, we are only interested in each genes gene_id, length, and FPKM of that sample. In each table, filter for these 3 columns.

In [31]:
columnsOfinterest=["gene_id","length","FPKM"]
df_noTreatment_r1 = df_noTreatment_r1.loc[:,columnsOfinterest]
df_noTreatment_r2 = df_noTreatment_r2.loc[:,columnsOfinterest]
df_noTreatment_r3 = df_noTreatment_r3.loc[:,columnsOfinterest]
df_wiTreatment_r1 = df_wiTreatment_r1.loc[:,columnsOfinterest]
df_wiTreatment_r2 = df_wiTreatment_r2.loc[:,columnsOfinterest]
df_wiTreatment_r3 = df_wiTreatment_r3.loc[:,columnsOfinterest]

**(E)** (5pts) Looking at the FPKM of each gene in each sample can be annoying when you have 6 different files. Merge the 6 tables into one that contains the FPKM of each gene.

> **Hints:** 
* Each gene ID should have the same corresponding length in each of the files, but not all genes may be found in each data frame (this is because we removed genes in part C)
* Use `help(pd.merge)` or google "pandas merge" to see the manual for merging pandas data frames

In [39]:
# rename the FPKM columns so that when we merge them
# they are unique to each sample
df_noTreatment_r1 = df_noTreatment_r1.rename(columns={"FPKM":"FPKM_noTreatment_R1"})
df_noTreatment_r2 = df_noTreatment_r2.rename(columns={"FPKM":"FPKM_noTreatment_R2"})
df_noTreatment_r3 = df_noTreatment_r3.rename(columns={"FPKM":"FPKM_noTreatment_R3"})
df_wiTreatment_r1 = df_wiTreatment_r1.rename(columns={"FPKM":"FPKM_wiTreatment_R1"})
df_wiTreatment_r2 = df_wiTreatment_r2.rename(columns={"FPKM":"FPKM_wiTreatment_R2"})
df_wiTreatment_r3 = df_wiTreatment_r3.rename(columns={"FPKM":"FPKM_wiTreatment_R3"})

# perform an OUTER merge on these data frames
fpkm_df = df_noTreatment_r1.merge(df_noTreatment_r2, 
                        how='outer', 
                        on=["gene_id","length"])
fpkm_df = fpkm_df.merge(df_noTreatment_r3, 
                        how='outer', 
                        on=["gene_id","length"])
fpkm_df = fpkm_df.merge(df_wiTreatment_r1, 
                        how='outer', 
                        on=["gene_id","length"])
fpkm_df = fpkm_df.merge(df_wiTreatment_r2, 
                        how='outer', 
                        on=["gene_id","length"])
fpkm_df = fpkm_df.merge(df_wiTreatment_r3, 
                        how='outer', 
                        on=["gene_id","length"])

# If we have no FPKM value for a specific gene
# we can just say it has an FPKM of 0.0.
# Note that we use 0.0 instead of 0 so that
# its type is a float.
fpkm_df = fpkm_df.fillna(value=0.0)
fpkm_df.tail()

,gene_id,length,FPKM_noTreatment_R1,FPKM_noTreatment_R2,FPKM_noTreatment_R3,FPKM_wiTreatment_R1,FPKM_wiTreatment_R2,FPKM_wiTreatment_R3
37326,ATMG01390,775,0.000015,0.000004,0.194662,0.01015,0.01015,0.01015
37327,ATMG01400,4010,3.955550,7.307110,4.874060,8.08683,8.08683,8.08683
37328,ATMG01410,5271,42.133200,40.374500,50.415200,107.30600,107.30600,107.30600
37329,AT5G04520,23544,0.000000,7.029500,0.000000,1.60565,1.60565,1.60565
37330,AT5G64390,4030,0.000000,190.280000,191.757000,0.00000,0.00000,0.00000

*Grading*:
* 1 point for attempt
* 1 point should be given if the student was able to merge the 6 files together
* 1 point should be given if the students performed the joined correctly (there are genes with the same gene-ID but different lengths so they need "gene_id" and "length")
* 1 point should be given if they handeled creating corresponding "FPKM" columns for each sample
* 1 point should be given if they joined each table using 'outer'
* 1 bonus point should be given if they dealt with possible NA values

**(F)** (2pts) Given reproducible replicates, it may be easier to look at the average of each of the 3 replicates for treated and non-treated respecively. Add two columns for the averaged FPKM values.

> There are multiple ways to get the average. Here are two:

In [40]:
# One way

import numpy as np
fpkm_noTreatment_cols = ["FPKM_noTreatment_R1", \
                         "FPKM_noTreatment_R2", \
                         "FPKM_noTreatment_R3"]
fpkm_wiTreatment_cols = ["FPKM_wiTreatment_R1", \
                         "FPKM_wiTreatment_R2", \
                         "FPKM_wiTreatment_R3"]
fpkm_df.loc[:,"FPKM_mean_noTreatment"] = \
    fpkm_df.loc[:,fpkm_noTreatment_cols].apply(np.mean, axis=1)
fpkm_df.loc[:,"FPKM_mean_wiTreatment"] = \
    fpkm_df.loc[:,fpkm_wiTreatment_cols].apply(np.mean, axis=1)

fpkm_df.tail()

,gene_id,length,FPKM_noTreatment_R1,FPKM_noTreatment_R2,FPKM_noTreatment_R3,FPKM_wiTreatment_R1,FPKM_wiTreatment_R2,FPKM_wiTreatment_R3,FPKM_mean_noTreatment,FPKM_mean_wiTreatment
37326,ATMG01390,775,0.000015,0.000004,0.194662,0.01015,0.01015,0.01015,0.064894,0.01015
37327,ATMG01400,4010,3.955550,7.307110,4.874060,8.08683,8.08683,8.08683,5.378907,8.08683
37328,ATMG01410,5271,42.133200,40.374500,50.415200,107.30600,107.30600,107.30600,44.307633,107.30600
37329,AT5G04520,23544,0.000000,7.029500,0.000000,1.60565,1.60565,1.60565,2.343167,1.60565
37330,AT5G64390,4030,0.000000,190.280000,191.757000,0.00000,0.00000,0.00000,127.345667,0.00000

In [46]:
# Second way

fpkm_noTreatment_cols = ["FPKM_noTreatment_R1", \
                         "FPKM_noTreatment_R2", \
                         "FPKM_noTreatment_R3"]
fpkm_wiTreatment_cols = ["FPKM_wiTreatment_R1", \
                         "FPKM_wiTreatment_R2", \
                         "FPKM_wiTreatment_R3"]
fpkm_df.loc[:,"FPKM_mean_noTreatment"] = \
    fpkm_df.loc[:,fpkm_noTreatment_cols].mean(axis=1)
fpkm_df.loc[:,"FPKM_mean_wiTreatment"] = \
    fpkm_df.loc[:,fpkm_wiTreatment_cols].mean(axis=1)

fpkm_df.tail()

,gene_id,length,FPKM_noTreatment_R1,FPKM_noTreatment_R2,FPKM_noTreatment_R3,FPKM_wiTreatment_R1,FPKM_wiTreatment_R2,FPKM_wiTreatment_R3,FPKM_mean_noTreatment,FPKM_mean_wiTreatment
37326,ATMG01390,775,0.000015,0.000004,0.194662,0.01015,0.01015,0.01015,0.064894,0.01015
37327,ATMG01400,4010,3.955550,7.307110,4.874060,8.08683,8.08683,8.08683,5.378907,8.08683
37328,ATMG01410,5271,42.133200,40.374500,50.415200,107.30600,107.30600,107.30600,44.307633,107.30600
37329,AT5G04520,23544,0.000000,7.029500,0.000000,1.60565,1.60565,1.60565,2.343167,1.60565
37330,AT5G64390,4030,0.000000,190.280000,191.757000,0.00000,0.00000,0.00000,127.345667,0.00000

**(G)** (3pts) Create a row that contains the log10 fold-change of the average FPKM counts with treatment over without treatment. 

> **Hints** 
* You can use numpy's `numpy.log10` function
* Since you cannot divide by zero, you may want to add a number close to zero to each of the average FPKM values. Otherwise, you can come up with your own way to deal with this problem.

In [41]:
import numpy as np

def log10FC(row):
    almost_zero=10**-8
    noTreatment_val = row["FPKM_mean_noTreatment"] + almost_zero
    wiTreatment_val = row["FPKM_mean_wiTreatment"] + almost_zero
    return(np.log10(wiTreatment_val/noTreatment_val))
           
# calculate log10(FPKM_mean_wiTreatment/FPKM_mean_noTreatment)
["fpkm_log10FC"] = fpkm_df.apply(log10FC, axis=1)

*Grading*:
* 1 point for a new column that contains a fold-change value
* 1 point for dealing with a denominator of 0
* 1 point if the new column contains the correct values

**(H)** (1pts) Print the gene-ids of the top 3 genes with most upregulation after given treatment?

In [47]:
top3_df = fpkm_df.sort_values("fpkm_log10FC", ascending=False).head(n=3)
list(top3_df["gene_id"])

['AT1G31960', 'AT4G33760', 'AT4G37340']

**(I)** (1pts) Print the gene-ids of the top 3 genes with the most downregulation after given treatment?

In [49]:
tail3_df = fpkm_df.sort_values("fpkm_log10FC", ascending=True).head(n=3)
list(tail3_df["gene_id"])

['AT5G64390', 'AT2G24050', 'AT4G17730']

**(J)** (4pts) You have been given a file called `gene_annotations.tsv` which contains a  table that matches gene IDs to gene names and annotation. Add columns "gene_name" and "gene_annotation" from `gene_annotations.tsv` to the data frame containing the fpkm values.

In [71]:
gene_ann_df = pd.read_csv("gene_annotations.tsv", 
            sep="\t",header=0)
fpkm_ann_df = gene_ann_df.merge(fpkm_df, 
                        right_on="gene_id", 
                        left_on="AGI_identifier",
                        how="right")

# Since the `gene_id` column contains all of the gene IDs
# since we did a right merge I set it to be the row names
# (indexes)
fpkm_ann_df = fpkm_ann_df.set_index("gene_id")
# I removed the AGI_identifier column since it is mostly redundant to
#  gene_id column, but contains less information.
fpkm_ann_df = fpkm_ann_df.drop("AGI_identifier",axis=1)

*Grading*:
* 1 point for reading in the annotation file correctly
* 1 point for performing a left/right merge
* 1 point for adding the new columns
* 1 point for joining on the correct column names
* 1 Bonus point if they reshaped the data in anyway (eg. set the index to gene id, dropped the "AGI_identifier" column) or did anything extra that deserves a bonus

**(K)** (1pts) Write out your final data frame into a tab-delimited file called `fpkm_ann.tsv`.

In [72]:
fpkm_ann_df.to_csv("fpkm_ann.tsv", sep="\t")

---
## Extra Practice

**(A)** (1pt) Load the following data (https://raw.githubusercontent.com/justmarkham/DAT5/master/data/auto_mpg.txt) 
into a DataFrame. You can either import the data using the full html path or by downloading it locally. 

**Hint:** In your terminal on the command line use the `head` function to see how the file is delimited and how to load it. For example, I ran the following command on my command line:

`head /home/sklasfeld/python_bootcamp_2019/lab7/auto_mpg.txt`

**Note:  You do not need to turn in any command line code you may use.**

In [50]:
# load pandas
import pandas as pd

# load the dataframe
car_data_path = 'https://raw.githubusercontent.com/justmarkham/DAT5/master/data/auto_mpg.txt'
car_data = pd.read_csv(car_data_path, 
                       sep='|') #Fill in the correct string

**(B)** (1pt) Display only the first 5 rows of the dataset

In [3]:
car_data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

**(C)** (1pt) What is the shape of the data?  How many rows and columns are there?

In [4]:
car_data.shape

(392, 9)

Answer: The data frame has 392 rows and 9 columns

**(D)** (1pt) What is the minimum and maximum value for each numeric column?

In [51]:
car_data.describe().loc[["min","max"],:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
min,9.0,3.0,68.0,46.0,1613.0,8.0,70.0,1.0
max,46.6,8.0,455.0,230.0,5140.0,24.8,82.0,3.0

**(E)** (1pt) What is the `car_name` of the car with the most horsepower?

> Since we know from the previous question that the car with the maximum horse power has 230.0 horse power we can just use the `.loc` function

In [ ]:
car_data.loc[car_data.loc[:,"horsepower"]==230.0,"car_name"]

> Answer: pontiac grand prix

**(F)** (1pt) How many cars have 4 or fewer cylinders?

In [ ]:
print(len(car_data.loc[car_data.loc[:,"cylinders"]<=4.0,:]))

> Answer: 203

**(G)** (1pt) Write code that prompts a user for a car_name and then returns the car's horsepower, mpg, and weight.

In [52]:
user_carName = input("Please give a car name:")
if user_carName in list(car_data.loc[:,"car_name"]):
    print(car_data.loc[car_data.loc[:,"car_name"]==user_carName,["horsepower","mpg","weight"]])
else:
    print("Sorry, that car name isn't available.")

Please give a car name:pontiac grand prix
     horsepower   mpg  weight
115         230  16.0    4278

**(H)** (1pt) Which 5 cars get the best gas mileage? Provide a DataFrame that only has the cars name and corresponding MPG

In [8]:
car_data.sort_values("mpg",ascending=False).loc[:,["mpg","car_name"]].head()

      mpg              car_name
320  46.6             mazda glc
327  44.6   honda civic 1500 gl
323  44.3  vw rabbit c (diesel)
388  44.0             vw pickup
324  43.4    vw dasher (diesel)

**(I)** (1pt) Which 5 cars with more than 4 cylinders get the best gas mileage?

In [14]:
car_data.loc[car_data.loc[:,"cylinders"]>4.0,:].sort_values("mpg",ascending=False).loc[:,["car_name"]].head()

                              car_name
381  oldsmobile cutlass ciera (diesel)
325                audi 5000s (diesel)
330                      datsun 280-zx
355                       volvo diesel
304                 chevrolet citation

**(J)** (1pt) What is the mean mpg for cars with EACH number of cylinders (i.e. 3 cylinders, 4 cylinders, 5 cylinders, etc)? 
> *Hint: Use the Group By function*

In [10]:
car_data.groupby('cylinders').mpg.mean()

cylinders
3    20.550000
4    29.283920
5    27.366667
6    19.973494
8    14.963107
Name: mpg, dtype: float64

**(K)** Did mpg rise or fall over the years contained in this dataset?

In [11]:
car_data.groupby('model_year').mpg.mean()

model_year
70    17.689655
71    21.111111
72    18.714286
73    17.100000
74    22.769231
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.803704
81    30.185714
82    32.000000
Name: mpg, dtype: float64

In [19]:
import numpy as np
car_data.groupby('model_year')["mpg"].apply(np.mean)

model_year
70    17.689655
71    21.111111
72    18.714286
73    17.100000
74    22.769231
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.803704
81    30.185714
82    32.000000
Name: mpg, dtype: float64

Answer: Rise