# Programming Bootcamp 2018
# Lesson 7 Exercises
---

** 21 Earning points (optional) **
- These excercises use the following files:
 * sequences3.txt
 * codon_table.txt
 * horrible.fasta

- Enter your name below.
- Post your notebook privately to instructors on piazza **before 9:00 pm on 9/4**.

**Name**:

---
## 1. Guess the output: DataFrame practice (1pt)

For the following blocks of code, first try to guess what the output will be, and then run the code yourself. Points will be given for filling in the guesses; guessing wrong won't be penalized.

In [16]:
# run this cell first!
import pandas as pd

peoples_dictOfdict = {"Sam":{"gender":"F", "age":26},
                          "Raju":{"gender":"F", "age":26},
                          "Scott":{"gender":"M", "age":26},
                          "Apexa":{"gender":"F", "age":25}}
peoples_df = pd.DataFrame.from_dict(peoples_dictOfdict,
                                   orient = "index")

peoples_df

      gender  age
Apexa      F   25
Raju       F   26
Sam        F   26
Scott      M   26

In [2]:
print peoples_df.loc["Scott","gender"]

M

Your guess:

In [3]:
print peoples_df.iloc[2,1]

M

Your guess:

In [ ]:
print peoples_df.iloc["Sam",0]

Your guess:

In [46]:
print peoples_df.columns

Index([u'age', u'gender'], dtype='object')

Your guess:

In [47]:
print peoples_df.index

Index([u'Sam', u'Raju', u'Scott', u'Apexa'], dtype='object')

Your guess:

In [48]:
print peoples_df.shape

(4, 2)

Your guess:

In [51]:
print peoples_df.loc[peoples_df.loc[:,"age"]<26,:]

       age gender
Apexa   25      F

Your guess:

---
## 2. Obtaining Information from a DataFrame (6 pts)

Using the info in the table below, write code to accomplish the following tasks. Note that these and the following questions are similar to questions in lab5 (working with dictionaries), but now we are can accomplish the tasks with pandas DataFrames.

In [1]:
import pandas as pd

favFood_df = pd.DataFrame([
    {"Name":"Wilfred", "Favorite Food":"Steak"},
    {"Name":"Manfred", "Favorite Food":"Pizza"},
    {"Name":"Wadsworth", "Favorite Food":"Spaghetti"},
    {"Name":"Jeeves", "Favorite Food":"Spaghetti"}
])
    
favFood_df

  Favorite Food       Name
0         Steak    Wilfred
1         Pizza    Manfred
2     Spaghetti  Wadsworth
3     Spaghetti     Jeeves

**(A)** (1pt)  Using a `for` loop, go through the DataFrame you created above and print each name and food combination in the format:

    <NAME>'s favorite food is <FOOD>
    
Reminder that to get the height of the DataFrame you use the `len()` function

In [4]:
# ANSWER FOR 2A
for i in range(len(favFood_df)):
    name = favFood_df.loc[i,"Name"]
    food = favFood_df.loc[i,"Favorite Food"]
    print name + "'s favorite food is "+ food

Wilfred's favorite food is Steak
Manfred's favorite food is Pizza
Wadsworth's favorite food is Spaghetti
Jeeves's favorite food is Spaghetti

**(B)** (1pt) Print the names of the people who like Spaghetti. (Please do not hard code your answer)

Hint: In a pandas Series use the `.values` function to get the values of the Series.

In [9]:
# Answer 2B
spaghetti_df = favFood_df.loc[favFood_df.loc[:,"Favorite Food"]=="Spaghetti","Name"]
for name in spaghetti_df.values:
    print name

Wadsworth
Jeeves

**(C)** (1pt) TRUE or FALSE, does anyone in the DataFrame like Tuna? (Please do not hard code your answer)

In [13]:
# Answer 2C
food_series = favFood_df.loc[:,"Favorite Food"]
print "Tuna" in food_series.values

False

**(D)** (1pt) TRUE or FALSE, Does anyone in the DataFrame like Pizza? (Please do not hard code your answer)

In [14]:
# Answer 2D
food_series = favFood_df.loc[:,"Favorite Food"]
print "Pizza" in food_series.values

True

**(E)** (1pt) Prompt the user with the question "Whose favorite food do you want to know?" and if the name is in the dataFrame then report the person's favorite food. Otherwise print "That name is not in our database".

In [87]:
# Answer 2E
name_query = raw_input("Whose favorite food do you want to know? ")
if name_query in favFood_df.loc[:,"Name"].values:
    print str(favFood_df.loc[favFood_df.loc[:,"Name"] == name_query,
                        "Favorite Food"])
else:
    print "That name is not in our database"

Whose favorite food do you want to know? SAM
That name is not in our database

**(F)** (1pt)  Each row represents a person. Set the row names (indexes) to their Name. It should look like:

<table>
<col />
<thead>
<tr>
	<th> </th>
	<th>Favorite Food</th>
</tr>
<tr>
	<th>Name</th>
	<th> </th>
</tr>
</thead>
<tbody>
<tr>
	<th>Wilfred</th>
	<td>Steak</td>
</tr>
<tr>
	<th>Manfred</th>
	<td>Pizza</td>
</tr>
<tr>
	<th>Wadsworth</th>
	<td>Spaghetti</td>
</tr>
<tr>
	<th>Jeeves</th>
	<td>Spaghetti</td>
</tr>
</tbody>
</table>

> Note that "Name" and "Favorite Food" should be on different lines since "Name" is the name of the index column and "Favorite Food" is the first column name.

In [4]:
favFood_df = favFood_df.set_index("Name")
favFood_df

          Favorite Food
Name
Wilfred           Steak
Manfred           Pizza
Wadsworth     Spaghetti
Jeeves        Spaghetti

---
## 3. The "Many Counters" Problem with dataFrames (3pts)
**(A)**  (2pt) Write code that reads a file of sequences and tallies how many sequences there are of each length. Use `sequences3.txt` as input. 

*Hint: you can use DataFrames to keep track of all the tallies. For example:*

In [73]:
# hint code:
import pandas as pd

tally_df = pd.DataFrame(columns=["count"])
seq = "ATGCTGATCGATATA"
length = len(seq)

if length not in list(tally_df.index):
    tally_df.loc[length,"count"] = 1  #initialize to 1 if this is the first occurrence of the length...
else:
    tally_df.loc[length,"count"] = tally_df.loc[length,"count"] + 1   #...otherwise just increment the count.
    
tally_df

    count
15      1

In [74]:
seqFile = open("sequences3.txt", 'r')
tally_df = pd.DataFrame(columns=["count"])
for seq in seqFile:
    seq = seq.rstrip('\n')
    length = len(seq)
    if length not in list(tally_df.index):
        tally_df.loc[length,"count"] = 1  #initialize to 1 if this is the first occurrence of the length...
    else:
        tally_df.loc[length,"count"] = tally_df.loc[length,"count"] + 1   #...otherwise just increment the count.

tally_df

     count
39     4.0
57     3.0
51     7.0
60     4.0
27     4.0
90     6.0
81     5.0
45     5.0
36     4.0
84     3.0
42     6.0
93     3.0
75     2.0
78     3.0
102    3.0
66     3.0
30     2.0
54     5.0
96     3.0
72     2.0
63     3.0
99     3.0
33     3.0
69     3.0
48     3.0
105    5.0
87     3.0

**(B)** (1pt) Using the tally DataFrame you created above, figure out which sequence length was the most common, and print it to the screen.

In [80]:
max_row = tally_df.loc[tally_df.loc[:,"count"]==max(tally_df.loc[:,"count"]),:]
print (max_row.index[0])

51

---
## 4. Codon table (6pts)

For this question, use `codon_table.txt`, which contains a list of all possible codons and their corresponding amino acids. We will be using this info to create a dictionary, which will allow us to translate a nucleotide sequence into amino acids. Each part of this question builds off the previous parts.

**(A)** (2pt) Read in `codon_table.txt` (note that it has a header line) into a Pandas DataFrame. Then use `input()` to prompt the user to enter a single codon (e.g. ATG) and print the amino acid corresponding to that codon to the screen.

In [19]:
# one correct answer
inFile = "codon_table.txt"
codon_df1 = pd.read_table(inFile,sep="\t",index_col=0)

user_codon = raw_input("enter a single codon: ").upper()
if user_codon in codon_df1.index:
    print(codon_df1.loc[user_codon,"AA"])
else:
    print("Error: that is not a codon")

enter a single codon: AAA
K

In [114]:
# another correct answer
inFile = "codon_table.txt"
codon_df2 = pd.read_table(inFile,sep="\t")

user_codon = raw_input("enter a single codon: ").upper()
if user_codon in codon_df2.loc[:,"Codon"].values:
    user_aa = codon_df2.loc[codon_df2.loc[:,"Codon"]==user_codon,"AA"].values
    print (user_aa[0])
else:
    print("Error: that is not a codon")

enter a single codon: AAA
K

**(B)** (2pt) Now we will adapt the code in (B) to translate a longer sequence. Instead of prompting the user for a single codon, allow them to enter a longer sequence. First, check that the sequence they entered has a length that is a multiple of 3 (Hint: use the mod operator, %), and print an error message if it is not. If it is valid, then go on to translate every three nucleotides to an amino acid. Print the final amino acid sequence to the screen.

In [116]:
# if A was formatted like codon_df1
seq = raw_input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
    print amino_seq
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): AAATAT
KY

In [117]:
# if A was formatted like codon_df2
seq = raw_input("enter a translatable DNA sequence (length must be divisable by 3): ").upper()
if len(seq) % 3 == 0 and len(seq) > 0:
    amino_seq=""
    for i in range(3,len(seq)+3,3):
        codon = seq[i-3:i]
        aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
        amino_seq = amino_seq + aa_list[0]
    print amino_seq
elif len(seq) == 0:
    print("no sequence was entered.")
else:
    print("sequence length must be divisable by 3.")

enter a translatable DNA sequence (length must be divisable by 3): AAATTT
KF

**(C)** (2pt) Now, instead of taking user input, you will apply your translator to a set of sequences stored in a file. Read in the sequences from `sequences3.txt` (assume each line is a separate sequence), translate it to amino acids, and print it to a new file called `proteins.txt`.

In [119]:
# if A was formatted like codon_df1
seqFile = open("sequences3.txt", 'r')
protFile = open("proteins.txt", 'w')
for seq in seqFile:
    seq = seq.rstrip('\n')
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            amino_seq = amino_seq + codon_df1.loc[codon,"AA"]
        protFile.write(amino_seq+"\n")
seqFile.close() 
protFile.close()

In [120]:
# if A was formatted like codon_df2
seqFile = open("sequences3.txt", 'r')
protFile = open("proteins.txt", 'w')
for seq in seqFile:
    seq = seq.rstrip('\n')
    if len(seq) % 3 == 0 and len(seq) > 0:
        amino_seq=""
        for i in range(3,len(seq)+3,3):
            codon = seq[i-3:i]
            aa_list = codon_df2.loc[codon_df2.loc[:,"Codon"]==codon,"AA"].values
            amino_seq = amino_seq + aa_list[0]
        protFile.write(amino_seq+"\n")
seqFile.close() 
protFile.close()

---
## 5. Using Custom Fuctions to Build a Data Frame (6pts)
Last week you learned to build custom functions and then used these functions to write a tab-delimited file with new information. Another way to output a tab-delimited file is to create a pandas DataFrame and then export it to a file.

**(A)** (1pt) Let's turn a fasta file into a pandas DataFrame. 

1. Last week you created a function called "read_fasta" that takes a file name as a parameter (which is assumed to be in fasta format), puts each fasta entry into a dictionary (using the header line as a key and the sequence as a value), and then returns the dictionary. Copy and paste the "read_fasta" function here or write a better version.
2. read in "horrible.fasta" into a dictionary.
3. convert the dictionary into a pandas DataFrame called `horrible_df`. Note that you must set `index=[0]` inside the pandas DataFrame function since the keys of the dictionary only point to a single value. 

> Note that you can use multiple cells for your answer so its easier to read.

In [17]:
def read_fasta(inFile):
    fasta_F = open(inFile, 'r')
    seq_dict={}
    seq_name=""
    seq=""
    for line in fasta_F:
        line = line.rstrip('\n')
        if line[0] == ">":
            if len(seq)>0:
                seq_dict[seq_name]=seq
            seq=""
            seq_name=line[1:]
        else:
            seq = seq + line
    fasta_F.close()
    return(seq_dict)

In [53]:
import pandas as pd

horrible_dict = read_fasta("horrible.fasta")
horrible_df = pd.DataFrame(horrible_dict, index=[0])
horrible_df.head()

,varlen2_uc001agr.3_7,varlen2_uc001pmn.3_3476,varlen2_uc002wkt.1_1569,varlen2_uc003hyy.2_273,varlen2_uc003its.2_2976,varlen2_uc003khi.3_3,varlen2_uc003nvg.4_2466,varlen2_uc003pij.1_129,varlen2_uc003yos.2_1634,varlen2_uc007fws.1_377,...,varlen2_uc007nte.2_374,varlen2_uc007xie.1_4456,varlen2_uc009div.2_242,varlen2_uc009wph.3_423,varlen2_uc010mlp.1_79,varlen2_uc010osx.2_1007,varlen2_uc010suq.2_3895,varlen2_uc011moe.2_5914,varlen2_uc021qfk.1>2_1472,varlen2_uc029ygd.1_73
0,TCGCTGCGCTGGGCCTCTCGGCGGTCCCCCCCACCCGGGTCCCGGGCCC,TCTTACTATTATGTGGAATTTAACTTTTCAGAGAAAATTTCCAAAG...,AGGCTCAGCCCGCTGGAGCATGAGCTCTGTGTGTACCGAGAACTGG...,CCACTCTGGAAATCTT,CGCCCACCTGGATGTCCCAAAGTGCTAGATTCCATGGAATTTTCCT...,CACTATGTGCTTCCGGTCTCCAATACCGCAGGAGGGCGGTCTTCCC...,CTCGGGCTGGCAGCAGTGAAAGTATTGCT,GATTTTATTATGGCAGAAGTCAATTT,CCATCAGGAAAATGCTTTTTCCAGGGAGACCACGGATTTGATAACA...,AAACCAGTCCCGGAAAGG,...,GGACTGACCTCTGTCTTCCAGATTCAAGTGCTACTGCTTTCTCAGC...,ACACCGGCTGAAACAGCTGGCAGCACCACAGGCCCAGCTGTAAGCA...,CCAACGGTCATCAAGAGAAGTGCGCCTTCCTCCTCAAACCGACGCG...,AAGGGGGTTTTCTGGGCCTCTCCAATATTAAGTTCAGGCCAGGATC...,CCGCGCAGCGCCTACCCTTTCCTCGCTCCGGGCCGGCAGTGTGGGG...,CAAATTTGATGGGAAGAGGTTCCAGAATGTTGTCAAGGAAGGAATG...,TAAGATGTCAGTATTCTCCTCATGGATATTTTCAGTCTCAATGTTG...,CTGAGGTCTAACATTGTTATCCTATATCATTTTCATCCCAAGTAGT...,CCTTGGATAAGGAAATTACATCAGCAAATTATGCTGGTGTCTGTAC...,AGAAGAATGGCTCTTAAGAAATTGAAGGTGATAC

**(B)** (3pts) If you view the DataFrame in jupyter you see that the sequence IDs have become column names. However, we want them to be their own column. Therefore we use the `transpose()` function to rotate the DataFrame 90 degress. Then we `.reset_index()` the DataFrame to move the sequence IDs into a column and reset the row names to integers based on their respective order from top to bottom. Lastly, we can label the columns to "SeqID" and "Seq" resectively.

In [54]:
horrible_df = horrible_df.transpose() # transpose DataFrame
horrible_df = horrible_df.reset_index()# move the sequence IDs into a column
horrible_df.columns = ["SeqID","Seq"] # give columns their respective labels
horrible_df.head() # view top 5 rows of the DataFrame

                     SeqID                                                Seq
0     varlen2_uc001agr.3_7  TCGCTGCGCTGGGCCTCTCGGCGGTCCCCCCCACCCGGGTCCCGGGCCC
1  varlen2_uc001pmn.3_3476  TCTTACTATTATGTGGAATTTAACTTTTCAGAGAAAATTTCCAAAG...
2  varlen2_uc002wkt.1_1569  AGGCTCAGCCCGCTGGAGCATGAGCTCTGTGTGTACCGAGAACTGG...
3   varlen2_uc003hyy.2_273                                   CCACTCTGGAAATCTT
4  varlen2_uc003its.2_2976  CGCCCACCTGGATGTCCCAAAGTGCTAGATTCCATGGAATTTTCCT...

To apply a function to each value in column of a DataFrame we can use the apply function. For example below we can get the length of each sequence using the `len` function:

In [55]:
horrible_df.loc[:,"Seq"].apply(len)

0      49
1     289
2      92
3      16
4     179
5     459
6      29
7      26
8     241
9      18
10     69
11    448
12    100
13     65
14     85
15    208
16    199
17    491
18    373
19     76
20     34
Name: Seq, dtype: int64

Add two columns "Length" and "GC" to the DataFrame with the length and gc content of each sequence respectively. You can import your custom function "gc" from lab6 or create a new one.

In [56]:
def gc(seq):
    total=0
    gc_count=0
    for n in seq:
        if n=="G" or n=="C":
            gc_count+=1
        total+=1
    gc_content = float(gc_count)/float(total)
    gc_content_str = "%.2f" % gc_content
    return(float(gc_content_str))

In [57]:
horrible_df.loc[:,"Length"] = horrible_df.loc[:,"Seq"].apply(len)
horrible_df.loc[:,"GC"] = horrible_df.loc[:,"Seq"].apply(gc)
horrible_df.head()

,SeqID,Seq,Length,GC
0,varlen2_uc001agr.3_7,TCGCTGCGCTGGGCCTCTCGGCGGTCCCCCCCACCCGGGTCCCGGGCCC,49,0.84
1,varlen2_uc001pmn.3_3476,TCTTACTATTATGTGGAATTTAACTTTTCAGAGAAAATTTCCAAAG...,289,0.39
2,varlen2_uc002wkt.1_1569,AGGCTCAGCCCGCTGGAGCATGAGCTCTGTGTGTACCGAGAACTGG...,92,0.52
3,varlen2_uc003hyy.2_273,CCACTCTGGAAATCTT,16,0.44
4,varlen2_uc003its.2_2976,CGCCCACCTGGATGTCCCAAAGTGCTAGATTCCATGGAATTTTCCT...,179,0.50

**(C)** (2pts) Update the DataFrame so that it only contains the columns "SeqID", "Length", and "GC". Then export as tab-delimited to a file called "horrible_df.tsv". Do not include the row names (also known as the indexes).

In [58]:
final_horrible_df = horrible_df.loc[:,["SeqID", "Length","GC"]]
final_horrible_df.to_csv("horrible_df.tsv",sep="\t", index=False)